Facility Reservation Kiosk/ReadFacilityReservationService/Service References/FRSWS/frs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WSfrs/" targetNamespace="http://WSfrs/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="delFRSEntries" type="tns:delFRSEntries" />
  <xs:element name="delFRSEntriesResponse" type="tns:delFRSEntriesResponse" />
  <xs:element name="getFRSBookingXML" type="tns:getFRSBookingXML" />
  <xs:element name="getFRSBookingXMLResponse" type="tns:getFRSBookingXMLResponse" />
  <xs:element name="getFRSCodeXML" type="tns:getFRSCodeXML" />
  <xs:element name="getFRSCodeXMLResponse" type="tns:getFRSCodeXMLResponse" />
  <xs:element name="getFRSEntriesXML" type="tns:getFRSEntriesXML" />
  <xs:element name="getFRSEntriesXMLResponse" type="tns:getFRSEntriesXMLResponse" />
  <xs:element name="getFRSListXML" type="tns:getFRSListXML" />
  <xs:element name="getFRSListXMLResponse" type="tns:getFRSListXMLResponse" />
  <xs:element name="getFRSLocationXML" type="tns:getFRSLocationXML" />
  <xs:element name="getFRSLocationXMLResponse" type="tns:getFRSLocationXMLResponse" />
  <xs:element name="getFRSSubCodeXML" type="tns:getFRSSubCodeXML" />
  <xs:element name="getFRSSubCodeXMLResponse" type="tns:getFRSSubCodeXMLResponse" />
  <xs:element name="getFRSTypeXML" type="tns:getFRSTypeXML" />
  <xs:element name="getFRSTypeXMLResponse" type="tns:getFRSTypeXMLResponse" />
  <xs:element name="getFRSUserXML" type="tns:getFRSUserXML" />
  <xs:element name="getFRSUserXMLResponse" type="tns:getFRSUserXMLResponse" />
  <xs:element name="saveFRSEntries" type="tns:saveFRSEntries" />
  <xs:element name="saveFRSEntriesResponse" type="tns:saveFRSEntriesResponse" />
  <xs:complexType name="getFRSLocationXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSLocationXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSLocationXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveFRSEntries">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
      <xs:element minOccurs="0" name="arg10" type="xs:string" />
      <xs:element minOccurs="0" name="arg11" type="xs:string" />
      <xs:element minOccurs="0" name="arg12" type="xs:string" />
      <xs:element minOccurs="0" name="arg13" type="xs:string" />
      <xs:element minOccurs="0" name="arg14" type="xs:string" />
      <xs:element minOccurs="0" name="arg15" type="xs:string" />
      <xs:element minOccurs="0" name="arg16" type="xs:string" />
      <xs:element minOccurs="0" name="arg17" type="xs:string" />
      <xs:element minOccurs="0" name="arg18" type="xs:string" />
      <xs:element minOccurs="0" name="arg19" type="xs:string" />
      <xs:element minOccurs="0" name="arg20" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveFRSEntriesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="saveFRSEntriesResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSUserXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSUserXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSUserXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSCodeXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSCodeXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSCodeXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSListXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSListXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSListXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSBookingXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSBookingXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSBookingXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delFRSEntries">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delFRSEntriesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="delFRSEntriesResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSSubCodeXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSSubCodeXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSSubCodeXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSEntriesXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSEntriesXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSEntriesXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSTypeXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFRSTypeXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getFRSTypeXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>